# Type Conversion
- More about formatted strings
- Types are not the same
- Convert them with **int(), float(), str()**

In [6]:
name = input("What is Your Name? ")
print(f"Hello {name}!!")
birth_year = input("waht is your birth Year? ")
print(f"You were born in {birth_year}.")

What is Your Name? patt
Hello patt!!
waht is your birth Year? 1997
You were born in 1997.

In [7]:
name = input("What is Your Name? ")
print(f"Hello {name}!!")
birth_year = input("waht is your birth Year? ")
print(f"You are {2022 - birth_year} old!!.")

What is Your Name? patt
Hello patt!!
waht is your birth Year? 1997

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [8]:
type(birth_year)

str

In [9]:
int(birth_year)

1997

In [11]:
name = input("What is Your Name? ")
print(f"Hello {name}!!")
birth_year = input("waht is your birth Year? ")
birth_year = int(birth_year)
print(f"You are {2022 - birth_year} old!!.")

What is Your Name? patt
Hello patt!!
waht is your birth Year? 1997
You are 25 old!!.

In [12]:
int ("30")

30

In [14]:
int ("-4")

-4

In [15]:
float("2")

2.0

In [16]:
float("3.14")

3.14

In [20]:
s = "This is a string "
i = 7

In [18]:
s + i

TypeError: can only concatenate str (not "int") to str

In [21]:
s + str(i)

'This is a string 7'